.btn-style {
  color: white;
}
input.search {
  border-radius: 7px;
  width: 66px;
  font-size: 13px;
}
@media (max-width: 680px) {
  .conb {
    margin-top: -90px;
  }
}

.scale:hover {
  transform: scale(1.1);
  background-color: aqua;
  border-radius: 10px;
}
.text {
  background-image: url("image/img1.jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 80vh;
}
.h-c {
  margin-top: 140px;
}
.h-c button:hover {
  transform: scale(1.1);
}
.navbar {
  background-color: transparent;
}
i.btn-style.fas.fa-bars.out {
  color: rgb(0, 0, 0);
}
h2.text-white.d-block {
  background: linear-gradient(
    63deg,
    rgba(216, 189, 117),
    rgb(216 189 117 / 88%),
    #0098fff5,
    rgb(0 178 222)
  );
  border-radius: 5px;
  display: block;
  width: 609px;
  height: 218px;
}
.navbar-nav .nav-link {
  color: #000;
  font-weight: 400;
  font-family: arial;
}
.card {
  border: 4px solid rgb(65 185 143);
  transition: all 0.3s ease 0s;
  border-radius: 5px;
  margin: 2rem;
}
.card:hover {
  box-shadow: #00f5ff 1px 1px 1px 1px;
  transform: scale(1.1);
}
.card i {
  color: rgb(255, 255, 255);
  border-radius: 50%;
  background: linear-gradient(158deg, #ffffffba, #03a9f4, #09deca, #03a9f4);
  padding: 20px;
  font-size: 40px;
}
#about-me {
  background: linear-gradient(
    38deg,
    rgb(255, 255, 255),
    rgb(3, 169, 244),
    rgb(208, 222, 229),
    rgb(3, 169, 244)
  );
  min-height: 70vh;
}
.about-container {
  padding-top: 76px;
}
.navbar {
  background: linear-gradient(
    212deg,
    rgb(3 169 244 / 69%),
    rgb(255, 255, 255),
    rgba(3, 169, 244, 0.94),
    rgb(208, 222, 229),
    rgb(3 169 244 / 97%)
  );
}

.width {
  width: 219px;
  height: 219px;
  border-radius: 50%;
  position: absolute;
  display: inline-block;
  margin-left: 171.234px;
  margin-top: -227px;
  background: #00aeff85;
  color: #00aeff85;
}

.work,
.work1 {
  min-height: 100vh;
  background: linear-gradient(45deg, #2dd8c1, #ded922f0);
}

.portfolio-name {
  font-size: 169px;
}
.portfolio-name .s-color {
  color: #baff0d;
}

.btn:hover {
  transform: scale(1.1);
}
.btn {
  margin-left: 9px;
  transition: 0.4s all ease-in-out;
}

.hier1 {
  background-color: #fff;
}
.icon:hover {
  transform: scale(1.4);
}

.conb h4 {
  color: #baff0d;
}
.conb h2 {
  color: #23b9f5;
}
.conb h3 {
  color: #45ff0d;
}
.picsaj {
  width: 150%;
}

.fixed-top {
  min-height: 5rem;
  font-size: 1.7rem;
  font-family: arial;
}

.logo span {
  font-size: 1.8rem;
  font-family: arial;
}

.logo .s {
  font-family: italic;
  font-size: 2.3rem;
}

.login {
  background: hsl(199deg 84% 62%) !important;
}

.carousel-inner {
  min-height: 39vh !important;
}
#portfolio .conb {
  height: 500px;
}
.socil2 {
  margin-bottom: 96px;
}

img.picsaj.img-fluid.card-img-top {
  margin-top: -442px !important;
  width: 200% !important;
}
.sajDiv {
  width: 139%;
}
#portfolio .conb {
  height: 500px;
  margin-left: 8rem;
  padding-top: 100px;
}

.saj-textw-50 {
  width: 300px !important;
  font-size: larger;
}
